<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel-body">
    <form action="addUser" method="post" role="form">
        <div class="form-group">
            <label for="exampleInputPassword1">登录账号</label>
            <input type="text" name="name" class="form-control" id="exampleInputPassword1" placeholder="请输入登录账号">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">用户密码</label>
            <input type="text" name="pwd" class="form-control" id="exampleInputPassword1" placeholder="请输入用户密码">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">用户权限</label>
            <input type="text" name="perms" class="form-control" id="exampleInputPassword1" placeholder="请输入用户昵称">
        </div>

        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i> 新增</button>
        <button type="reset" class="btn btn-danger"><i class="glyphicon glyphicon-refresh"></i> 重置</button>
    </form>
</div>
</body>
</html>